# 1. 加载考勤设置所需要的excel表格

In [134]:
import pandas as pd
import numpy as np

In [106]:
rootdir = 'D:/Github/Face-Recognition-Class-Attendance-System/'

filenames = ['Auxiliary_Info.xlsx', 
             'Classroom_Course_Schedule.xlsx',
             'Classroom_Info.xlsx', 
             'College_Class_Info.xlsx', 
             'Attendance_Logs.xlsx']

In [396]:
# 根据当前周，选择教室对应的课表安排，read_excel中第一周的索引为0
current_teach_week = 12 # 第13周

au_info = pd.read_excel(rootdir + filenames[0])
room_table = pd.read_excel(rootdir + filenames[1], sheet_name=current_teach_week)
room_info = pd.read_excel(rootdir + filenames[2], sheet_name=0)
college_class_info = pd.read_excel(rootdir + filenames[3], sheet_name=0)
attendance_logs = pd.read_excel(rootdir + filenames[4], sheet_name=0)

In [397]:
# NaT 是Pandas中时间戳的NAN值
au_info

,Semester Start Week,Holiday Date,Attendance period Start,Attendance period End,Attendance period Description,Make up lessons ID,Original lessons Date,Make up lessons Date,Make up lessons Week,Make up lessons Weekday,Make up lessons Schedule,Make up lessons Description
0,2021-03-01,2021-05-01,07:00:00,08:30:00,上午第1节课前一小时内考勤均认为正常考勤，可以按照自己的逻辑修改。,ML2020001,2021-03-15,2021-05-28,13.0,Fri,1--2,补课日期，补第几周的课，补周几的课，补第几节课
1,NaT,2021-05-02,10:05:00,10:25:00,上午1-2节下课到第3节课上课之间的时间被认为正常考勤。,DL2020001,2021-03-22,2021-05-24,13.0,Mon,3--4,NaN
2,NaT,2021-05-03,13:00:00,14:00:00,下午第1节课前一小时内考勤均认为正常考勤，可以按照自己的逻辑修改。,CV2020001,2021-05-24,2021-05-28,13.0,Fri,5--6,NaN
3,NaT,2021-05-04,15:35:00,15:55:00,下午1-2节下课到第3节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,NaT,2021-05-05,17:30:00,18:00:00,下午3-4节下课到晚上第1节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN
5,NaT,NaT,19:35:00,19:55:00,晚上1-2节课下课到第3节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN

In [183]:
au_info.columns

Index(['Semester Start Week', 'Holiday Date', 'Attendance period Start',
       'Attendance period End', 'Attendance period Description',
       'Make up lessons ID', 'Original lessons Date', 'Make up lessons Date',
       'Make up lessons Week', 'Make up lessons Weekday',
       'Make up lessons Description'],
      dtype='object')

In [184]:
room_info

  Building  Classroom  Seating Capacity
0        A        101               300
1        A        102               300
2        A        103               300
3        A        104               300
4        A        105               300

In [109]:
college_class_info

                           Academics  Grade    Class  Students
0  School of Artificial Intelligence   2018  2018001       120
1  School of Artificial Intelligence   2018  2018002       120
2  School of Artificial Intelligence   2018  2018003       120
3  School of Artificial Intelligence   2018  2018004       120

In [110]:
attendance_logs

   ID  Name  Academic  Course  Time State  Description
0 NaN   NaN       NaN     NaN   NaN    正常          NaN
1 NaN   NaN       NaN     NaN   NaN    迟到          NaN
2 NaN   NaN       NaN     NaN   NaN    旷课          NaN
3 NaN   NaN       NaN     NaN   NaN    请假          NaN

In [394]:
room_table

,Building,Classroom,Schedule,Time Start,Time End,Course Class ID,Course Name,Class week,Current Week,Weekday
0,A,101,1-2节,08:30:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",13,Mon
1,A,101,3-4节,10:25:00,12:00:00,DL2020001,Deep Learning,01--16,13,Mon
2,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",13,Mon
3,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,13,Mon
4,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,13,Mon
5,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Mon
6,A,101,1-2节,08:30:00,10:05:00,NaN,NaN,NaN,13,Tue
7,A,101,3-4节,10:25:00,12:00:00,NaN,NaN,NaN,13,Tue
8,A,101,5-6节,14:00:00,15:35:00,NaN,NaN,NaN,13,Tue
9,A,101,7-8节,15:55:00,17:35:00,NaN,NaN,NaN,13,Tue
10,A,101,9-10节,18:00:00,19:35:00,NaN,NaN,NaN,13,Tue
11,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Tue
12,A,101,1-2节,08:30:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",13,Wed
13,A,101,3-4节,10:25:00,12:00:00,DL2020001,Deep Learning,01--16,13,Wed
14,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",13,Wed
15,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,13,Wed
16,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,13,Wed
17,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Wed
18,A,101,1-2节,08:30:00,10:05:00,NaN,NaN,NaN,13,Thu
19,A,101,3-4节,10:25:00,12:00:00,NaN,NaN,NaN,13,Thu
20,A,101,5-6节,14:00:00,15:35:00,NaN,NaN,NaN,13,Thu
21,A,101,7-8节,15:55:00,17:35:00,NaN,NaN,NaN,13,Thu
22,A,101,9-10节,18:00:00,19:35:00,NaN,NaN,NaN,13,Thu
23,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Thu
24,A,101,1-2节,08:30:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",13,Fri
25,A,101,3-4节,10:25:00,12:00:00,DL2020001,Deep Learning,01--16,13,Fri
26,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",13,Fri
27,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,13,Fri
28,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,13,Fri
29,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Fri
30,A,101,1-2节,08:30:00,10:05:00,NaN,NaN,NaN,13,Sat
31,A,101,3-4节,10:25:00,12:00:00,NaN,NaN,NaN,13,Sat
32,A,101,5-6节,14:00:00,15:35:00,NaN,NaN,NaN,13,Sat
33,A,101,7-8节,15:55:00,17:35:00,NaN,NaN,NaN,13,Sat
34,A,101,9-10节,18:00:00,19:35:00,NaN,NaN,NaN,13,Sat
35,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Sat
36,A,101,1-2节,08:30:00,10:05:00,NaN,NaN,NaN,13,Sun
37,A,101,3-4节,10:25:00,12:00:00,NaN,NaN,NaN,13,Sun
38,A,101,5-6节,14:00:00,15:35:00,NaN,NaN,NaN,13,Sun
39,A,101,7-8节,15:55:00,17:35:00,NaN,NaN,NaN,13,Sun
40,A,101,9-10节,18:00:00,19:35:00,NaN,NaN,NaN,13,Sun
41,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,13,Sun

In [116]:
room_table.columns

Index(['Building', 'Classroom', 'Schedule', 'Time Start', 'Time End',
       'Course Class ID', 'Course Name', 'Class week', 'Current Week',
       'Weekday'],
      dtype='object')

# 2. Datetime 模块使用
from datetime import datetime

In [8]:
semester_start_week_date = au_info['Semester Start Week'][0]
semester_start_week_date

Timestamp('2021-03-01 00:00:00')

In [10]:
semester_start_week_date.date()

datetime.date(2021, 3, 1)

In [11]:
semester_start_week_date.time()

datetime.time(0, 0)

## Datetime Format
- %Y: 4位数的年
- %y: 2位数的年
- %m: 2位数的月 [01,12]
- %d: 2位数的日 [01,31]
- %H: 24小时制 时 [00,23] 
- %I: 12小时制 时 [01,12]
- %M: 2位数的 分 [00,59]
- %S: 秒 [00,61] (60和61用于闰秒)

---
- %w: 用整数表示的星期几 [0(星期天),6]
- %U: 每年的第几周 [0, 53]。星期天被认为是每周的第一天，每年第一个星期天之前的那几天被认为是第0周。
- %W: 每年的第几周 [0, 53]。星期一被认为是每周的第一天，每年第一个星期天之前的那几天被认为是第0周。

---
- %F: %Y-%m-%d的简写形式，例如2021-5-23
- %D: %m/%d/%y的简写形式，例如23/05/21

---
限于当前环境的日期格式

- %a: 星期几的简写
- %A: 星期几的全称
- %b: 月份的简写
- %B: 月份的全称
- %c: 完整的日期和时间
- %p: 不同环境的AM和PM
- %x: 适用于当前环境的日期格式
- %X: 适用于当前环境的时间格式

In [12]:
from datetime import datetime, timedelta, timezone

In [13]:
datetime.now()

datetime.datetime(2021, 5, 24, 1, 8, 6, 655051)

In [14]:
# 完整的日期和时间
datetime.now().strftime('%c')

'Mon May 24 01:08:07 2021'

In [15]:
# 获取当前日期是周几(0-6, 0代表周一)
datetime.now().weekday()

0

In [16]:
# 获取当前日期是一年中的第几周
datetime.now().strftime('%W')

'21'

In [17]:
value = '2021-3-08 08:00:00'

datetime.strptime(value, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 3, 8, 8, 0)

In [18]:
# 获取指定日期属于周几
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%w')

'1'

In [19]:
# 获取指定日期属于当年的第几周
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%W')

'10'

In [20]:
# 获取指定日期属于当年的第几周
int(datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%W'))

10

In [21]:
# 两个datetime时间对象的差
datetime.now() - semester_start_week_date

Timedelta('84 days 01:08:09.720597')

In [22]:
# 获取指定时间属于星期几
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%a')

'Mon'

In [23]:
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%A')

'Monday'

In [24]:
# 获取指定时间属于月份
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%b')

'Mar'

In [25]:
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%B')

'March'

In [26]:
from datetime import datetime

def calculate_current_teach_week(semester_first_week_date='2021-3-08 08:00:00'):
    """
    计算当前日期所属教学周，实现思路是：当前日期所属一年中的周 - 每学期的第一周
    ----
    param: semester_first_week_date: 学期第一周的日期，例如 '2021-3-08 08:00:00'
    
    return: 当前教学周
    """
    # 获取指定日期属于当年的第几周, 返回字符串
    semester_first_week = datetime.strptime(semester_first_week_date, '%Y-%m-%d %H:%M:%S').strftime('%W')
    # 获取当前日期是一年中的第几周, 返回字符串
    current_year_week = datetime.now().strftime('%W')
    # 计算当前日期所属的教学周
    # ( ) 中的减一表示第一周之前的周数
    # 最后加一是因为计算周数是从索引00开始的，所以需要加1
    current_teach_week = int(current_year_week) - (int(semester_first_week) - 1) + 1
    
    return current_teach_week

In [27]:
start_date = '2021-3-08 08:00:00'

# 根据当前时间和第一周的时间，计算当前教学周
calculate_current_teach_week(start_date)

13

In [60]:
au_info['Holiday Date']

0   2021-05-01
1   2021-05-02
2   2021-05-03
3   2021-05-04
4   2021-05-05
5          NaT
Name: Holiday Date, dtype: datetime64[ns]

In [79]:
list(au_info['Holiday Date'])

[Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-05 00:00:00'),
 NaT]

In [80]:
au_info['Holiday Date'][0].month, type(au_info['Holiday Date'][0].month)

(5, int)

In [66]:
au_info['Holiday Date'].iloc[-1], type(au_info['Holiday Date'].iloc[-1])

(NaT, pandas._libs.tslibs.nattype.NaTType)

In [74]:
pd.NaT

NaT

In [73]:
au_info['Holiday Date'].iloc[-1]

NaT

In [85]:
type(au_info['Holiday Date'].iloc[-1]) == type(pd.NaT)

True

In [88]:
# 因为表中有 NaT类型，这在遍历时会导致错误，因此需要先过滤掉NaT值
holidays = au_info['Holiday Date']
# 不包含 NaT 的索引
indexes_without_nat = [(type(holiday) != type(pd.NaT)) for holiday in au_info['Holiday Date']]
# 不包含 NaT 的假期列表
holidays_pure = list(holidays[indexes_without_nat])
holidays_pure

[Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-05 00:00:00')]

In [217]:
def holiday_judgment(judg_time=datetime.now(), 
                     holidays=au_info['Holiday Date']):
    """
    根据当前时间自动获取离目前最近课程的考勤时间
    ----
    param: judg_time: 需要被判断的时间
    param: holidays: 当前学期的假期列表
    return: 
            如果有课，则返回考勤时间设置；
            如果没课，则返回None，并提示空教室。
    """
    
    # 因为表中有 NaT类型，这在遍历时会导致错误，因此需要先过滤掉NaT值
    # 不包含 NaT 的索引
    indexes_without_nat = [(type(holiday) != type(pd.NaT)) for holiday in au_info['Holiday Date']]
    # 不包含 NaT 的假期列表
    holidays_pure = list(holidays[indexes_without_nat])
    
    # 获取完整的时间格式
    now = datetime.now()
    # 分别获取当前的年，月，日，时，分，秒，均为int类型
    now_year = judg_time.year
    now_month = judg_time.month
    now_day = judg_time.day
    now_hour = judg_time.hour
    now_minute = judg_time.minute
    now_second = judg_time.second
    
    # 构造当前时间的日期的年月日，与假期列表中的日期对比，判断是否为假期
    judg_time_ymd = datetime(now_year, now_month, now_day)
    
    # 是否为假期的标志位
    is_now_holiday = False
    
    # 遍历假期列表
    for holiday in holidays_pure:
        # 截取当前假期的年月日
        holiday_month_day = datetime(holiday.year, holiday.month, holiday.day)
        if judg_time_ymd - holiday_month_day == 0:
            is_now_holiday = True
    
    if is_now_holiday:
        print(f'[INFO] {judg_time_ymd} is Holiday!')
    else:
        print(f'[INFO] {judg_time_ymd} is not Holiday!')
    
    return is_now_holiday

In [218]:
holiday_judgment()

[INFO] 2021-05-24 00:00:00 is not Holiday!

False

In [96]:
# 根据当前时间自动获取离目前最近课程的考勤时间

## 1. 获取当前时间，并与列表中的时间对比
## 2. 查看距离当前时刻最近的一节课是否有课 （不为NaN）
## 3. 如果有课，则自动设置考勤时间
### 1）正常：规定时间内签到
### 2）迟到：上课之后45分钟内
### 3）旷课：上课超过45分钟
### 4）请假：通过销假系统自动读取，或者老师手动填写

In [111]:
room_table.columns

Index(['Building', 'Classroom', 'Schedule', 'Time Start', 'Time End',
       'Course Class ID', 'Course Name', 'Class week', 'Current Week',
       'Weekday'],
      dtype='object')

In [112]:
room_info.columns

Index(['Building', 'Classroom', 'Seating Capacity'], dtype='object')

In [113]:
college_class_info.columns

Index(['Academics', 'Grade', ' Class', 'Students'], dtype='object')

In [114]:
attendance_logs.columns

Index(['ID', 'Name', 'Academic', 'Course', 'Time', 'State', 'Description'], dtype='object')

In [124]:
room_table['Course Class ID'][room_table['Weekday'].values == now_weekday]

0    ML2020001
1    DL2020001
2    CV2020001
3    CI2020001
4    DM2020001
5          NaN
Name: Course Class ID, dtype: object

In [129]:
now_course_id = list(room_table['Course Class ID'][room_table['Weekday'].values == now_weekday])
now_course_id

['ML2020001', 'DL2020001', 'CV2020001', 'CI2020001', 'DM2020001', nan]

In [132]:
now_course_id[-1], type(now_course_id[-1])

(nan, float)

In [148]:
np.nan

nan

In [147]:
# 无法按照值比较大小！！！
now_course_id[-1] == np.nan

False

In [143]:
now_course_id[-1] is np.nan

True

In [133]:
pd.NA, type(pd.NA)

(<NA>, pandas._libs.missing.NAType)

In [135]:
np.nan, type(np.nan)

(nan, float)

In [162]:
# 判断当日课程id列表中，是否存在不是nan值的课程（即有课的课程）
# 返回值 [True, True, True, True, True, False]
bool_day_course = [(course_id is not np.nan) for course_id in now_course_id]
bool_day_course

[True, True, True, True, True, False]

In [151]:
# 计算唯一值的个数，如果=2，则说明有课，即包含True（有课）和False（无课）
len_bool_day_course = len(np.unique(bool_day_course))
if len_bool_day_course == 2:
    # 获取有课的课程信息
    
else:
    
room_table[bool_day_course]
# 如果=1，则有两种情况，全天无课（False），全天有课（True）
np.unique(bool_day_course)

array([False,  True])

In [152]:
len(np.unique(bool_day_course))

2

In [154]:
np.unique(bool_day_course)[0] == False

True

In [122]:
now_weekday = datetime.now().strftime('%a')
now_weekday

'Mon'

In [158]:
# 找出当前周中周几的索引，便于检索该天的课程信息
extract_index = (room_table['Weekday'].values == now_weekday)
extract_index

array([ True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [160]:
# 找出当天的room_table信息
now_room_table = room_table.loc[extract_index]
now_room_table

,Building,Classroom,Schedule,Time Start,Time End,Course Class ID,Course Name,Class week,Current Week,Weekday
0,A,101,1-2节,08:00:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",1,Mon
1,A,101,3-4节,10:05:00,12:00:00,DL2020001,Deep Learning,01--16,1,Mon
2,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",1,Mon
3,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,1,Mon
4,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,1,Mon
5,A,101,11-12节,20:00:00,21:35:00,NaN,NaN,NaN,1,Mon

In [163]:
now_room_table['Course Class ID'][bool_day_course]

0    ML2020001
1    DL2020001
2    CV2020001
3    CI2020001
4    DM2020001
Name: Course Class ID, dtype: object

In [164]:
now_room_table[bool_day_course]

,Building,Classroom,Schedule,Time Start,Time End,Course Class ID,Course Name,Class week,Current Week,Weekday
0,A,101,1-2节,08:00:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",1,Mon
1,A,101,3-4节,10:05:00,12:00:00,DL2020001,Deep Learning,01--16,1,Mon
2,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",1,Mon
3,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,1,Mon
4,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,1,Mon

In [185]:
room_dict = now_room_table[bool_day_course].loc[0].to_dict()
room_dict

{'Building': 'A',
 'Classroom': 101,
 'Schedule': '1-2节',
 'Time Start': datetime.time(8, 0),
 'Time End': datetime.time(10, 5),
 'Course Class ID': 'ML2020001',
 'Course Name': 'Machine Learning',
 'Class week': '01--08, 10--17',
 'Current Week': 1,
 'Weekday': 'Mon'}

In [186]:
room_dict.keys()

dict_keys(['Building', 'Classroom', 'Schedule', 'Time Start', 'Time End', 'Course Class ID', 'Course Name', 'Class week', 'Current Week', 'Weekday'])

In [187]:
room_dict.items()

dict_items([('Building', 'A'), ('Classroom', 101), ('Schedule', '1-2节'), ('Time Start', datetime.time(8, 0)), ('Time End', datetime.time(10, 5)), ('Course Class ID', 'ML2020001'), ('Course Name', 'Machine Learning'), ('Class week', '01--08, 10--17'), ('Current Week', 1), ('Weekday', 'Mon')])

In [201]:
for i in zip(room_dict):
    print(i)

('Building',)
('Classroom',)
('Schedule',)
('Time Start',)
('Time End',)
('Course Class ID',)
('Course Name',)
('Class week',)
('Current Week',)
('Weekday',)

In [202]:
for i in zip(room_dict.keys()):
    print(i)

('Building',)
('Classroom',)
('Schedule',)
('Time Start',)
('Time End',)
('Course Class ID',)
('Course Name',)
('Class week',)
('Current Week',)
('Weekday',)

In [203]:
for i in zip(room_dict.items()):
    print(i)

(('Building', 'A'),)
(('Classroom', 101),)
(('Schedule', '1-2节'),)
(('Time Start', datetime.time(8, 0)),)
(('Time End', datetime.time(10, 5)),)
(('Course Class ID', 'ML2020001'),)
(('Course Name', 'Machine Learning'),)
(('Class week', '01--08, 10--17'),)
(('Current Week', 1),)
(('Weekday', 'Mon'),)

In [214]:
class AttendanceCheck(object):
    def __init__(self):
        # 获取完整的时间格式
        now = datetime.now()
        # 分别获取当前的年，月，日，时，分，秒，均为int类型
        now_year = judg_time.year
        now_month = judg_time.month
        now_day = judg_time.day
        now_hour = judg_time.hour
        now_minute = judg_time.minute
        now_second = judg_time.second

        # 构造当前时间的日期的年月日，与假期列表中的日期对比，判断是否为假期
        judg_time_ymd = now.date()
        judg_time_hms = now.time()
        
    def calculate_current_teach_week(semester_first_week_date='2021-3-08 08:00:00'):
        """
        计算当前日期所属教学周，实现思路是：当前日期所属一年中的周 - 每学期的第一周
        ----
        param: semester_first_week_date: 学期第一周的日期，例如 '2021-3-08 08:00:00'

        return: 当前教学周
        """
        # 获取指定日期属于当年的第几周, 返回字符串
        semester_first_week = datetime.strptime(semester_first_week_date, '%Y-%m-%d %H:%M:%S').strftime('%W')
        # 获取当前日期是一年中的第几周, 返回字符串
        current_year_week = datetime.now().strftime('%W')
        # 计算当前日期所属的教学周
        # ( ) 中的减一表示第一周之前的周数
        # 最后加一是因为计算周数是从索引00开始的，所以需要加1
        current_teach_week = int(current_year_week) - (int(semester_first_week) - 1) + 1

        return current_teach_week

    def holiday_judgment(judg_time=datetime.now(), 
                         holidays=au_info['Holiday Date']):
        """
        根据当前时间自动获取离目前最近课程的考勤时间
        ----
        param: judg_time: 需要被判断的时间
        param: holidays: 当前学期的假期列表
        return: 
                如果有课，则返回考勤时间设置；
                如果没课，则返回None，并提示空教室。
        """

        # 因为表中有 NaT类型，这在遍历时会导致错误，因此需要先过滤掉NaT值
        # 不包含 NaT 的索引
        indexes_without_nat = [(type(holiday) != type(pd.NaT)) for holiday in au_info['Holiday Date']]
        # 不包含 NaT 的假期列表
        holidays_pure = list(holidays[indexes_without_nat])

        # 获取完整的时间格式
        now = datetime.now()
        # 分别获取当前的年，月，日，时，分，秒，均为int类型
        now_year = judg_time.year
        now_month = judg_time.month
        now_day = judg_time.day
        now_hour = judg_time.hour
        now_minute = judg_time.minute
        now_second = judg_time.second

        # 构造当前时间的日期的年月日，与假期列表中的日期对比，判断是否为假期
        judg_time_ymd = datetime(now_year, now_month, now_day)

        # 是否为假期的标志位
        is_now_holiday = False

        # 遍历假期列表
        for holiday in holidays_pure:
            # 截取当前假期的年月日
            holiday_month_day = datetime(holiday.year, holiday.month, holiday.day)
            if judg_time_ymd - holiday_month_day == 0:
                is_now_holiday = True

        if is_now_holiday:
            print(f'[INFO] {judg_time_ymd} is Holiday!')
        else:
            print(f'[INFO] {judg_time_ymd} is not Holiday!')

        return is_now_holiday

In [319]:
# 获取当前天的课程，补课，调课，各课程的起始截止时间信息
def get_course_attendance_info(au_info, room_table):
    """

    ---
    param au_info: Auxiliary_Info 表的DataFrame格式
    param room_table: Classroom_Course_Schedule 的DataFrame格式
    """
    # 获取完整的时间格式
    now = datetime.now()
    judg_time = now
    # 构造当前时间的日期的年月日，与假期列表中的日期对比，判断是否为假期
    judg_time_ymd = judg_time.date()
    
    # 1.判断今天是否为假期
    
    # 是否为假期的标志位, False 表示不是假期
    is_now_holiday = holiday_judgment()
    # 是否有课标志位
    is_now_course = False
    # 是否被调换时间标志位
    is_now_swap = False
    # 是否有补课标志位
    is_now_makeup = False
    
    # 获取完整的当前时间
    now = datetime.now()
    # 获取当前的时间属于星期几，返回字符串，例如 'Mon'
    now_weekday = datetime.now().strftime('%a')
    # 找出当前周中周几的索引，便于检索该天的课程信息
    extract_index = (room_table['Weekday'].values == now_weekday)
    
    # 找出当天的room_table信息
    now_room_table = room_table.loc[extract_index]
    
    # 找出room_talbe表中这一天的课程ID信息，pd.Series 格式
    now_course_id   = now_room_table['Course Class ID']
    # 找出room_talbe表中这一天的课程Name信息，pd.Series 格式
    now_course_name = room_table['Course Name']
    # 找出room_talbe表中这一天的课程的开始时间，pd.Series 格式
    now_course_start = room_table['Time Start']
    # 找出room_talbe表中这一天的课程的结束时间，pd.Series 格式
    now_course_end   = room_table['Time End']
    
    
    # 4. 判断今天是否有补课
    # 遍历 ['Make up lessons Date'] 字段，与当前日期相比，查看是否需要补课
    # 返回需要补课的信息 ['Make up lessons Schedule'] 等
    # 找出au_table中对应的字段
    au_info_makeup = au_info[['Make up lessons ID', 
                              'Original lessons Date', 
                              'Make up lessons Date',
                              'Make up lessons Week', 
                              'Make up lessons Weekday',
                              'Make up lessons Schedule',
                              'Make up lessons Description']]
    
    # 截取不包含NaN值的au_info_makeup，DataFrame格式
    bool_makeup_lessons = [(lesson_id is not np.nan) for lesson_id in au_info['Make up lessons ID']]
    makeup_lessons = au_info_makeup[bool_makeup_lessons]

    makeup_id = makeup_lessons['Make up lessons ID']
    original_date = makeup_lessons['Original lessons Date']
    makeup_date = makeup_lessons['Make up lessons Date']
    makeup_week = makeup_lessons['Make up lessons Week']
    makeup_schedule = makeup_lessons['Make up lessons Schedule']
    makeup_weekday = makeup_lessons['Make up lessons Weekday']
    
    # 补课信息字典
    makeup_lessons_info = {}
    for idx, make_date in enumerate(makeup_date):
        if make_date == judg_time_ymd:
            makeup_lessons_info[idx] = makeup_lessons.iloc[idx, :].to_dict()
    
    if len(makeup_lessons_info) != 0:
        is_now_makeup = True
        print(f'[INFO] {judg_time_ymd} There is a make-up class today!')
    else:
        print(f'[INFO] {judg_time_ymd} There is not a make-up class today!')
               
            
    # 定义考勤时刻列表
    att_start_list = []
    att_end_list = []
    
    # 获取有课的课程信息，嵌套dict格式
    now_course_dict = {}
    
    # 换课列表，包含当天换课的课程id
    swap_lessons_info = {}
    
    # 如果不是假期，则进行下一步判断
    if not is_now_holiday:
        # 2. 判断今天是否有课
        # 判断当日课程id列表中，是否存在不是nan值的课程（即有课的课程）
        # 例如，返回值形式为 [True, True, True, True, True, False]
        bool_day_course = [(course_id is not np.nan) for course_id in now_course_id]

        # 计算bool_day_course列表中唯一值的个数
        len_bool_day_course = len(np.unique(bool_day_course))
        # case1: 如果=2，则说明有课，即包含True（有课）和False（无课）
        # case2: 如果=1，则有两种情况，全天无课（False），全天有课（True）
        # 第一种情况表示该天有课但不满课；第二种情况表示该天满课
        if len_bool_day_course == 2 or np.unique(bool_day_course)[0] == True:
            print(f'[INFO] {judg_time_ymd} There are classes today!')
            
            # 有课标志位设置为True
            is_now_course = True
            
            # 获取有课的课程信息，DataFrame格式
            now_course_df = now_room_table[bool_day_course]
            
            # 遍历课程信息的df，逐行构造字典
            for idx in range(len(now_course_df)):
                now_course_dict[f'Lesson {idx + 1}'] = now_course_df.loc[idx].to_dict()
                
            # 3. 判断当前课程中是否存在被调换时间的课程
            # 根据原始课程的日期，所属周，weekday和课程ID进行查找
            for key in now_course_dict.keys():
                # 获取第key节课的信息，字典格式
                schedule = now_course_dict[key]
                for lesson_id, orig_date, m_date, m_week, m_weekday, m_schedule in zip(makeup_id, 
                                                                                       original_date, 
                                                                                       makeup_date,
                                                                                       makeup_week,
                                                                                       makeup_weekday,
                                                                                       makeup_schedule):
                    
#                     print(schedule['Course Class ID'], schedule['Current Week'], schedule['Weekday'])
#                     print(lesson_id, m_week, m_weekday)
#                     print('-' * 32)
                    
                    if  (schedule['Course Class ID'] == lesson_id) and (schedule['Current Week'] == m_week) and (schedule['Weekday'] == m_weekday):
                        swap_lessons_info[lesson_id] = [orig_date, m_date, m_week, m_weekday, m_schedule]
                        
                        is_now_swap = True
            
            print(f'[INFO] {judg_time_ymd} 今天需要换课的课程包括：{swap_lessons_info}')
            
            # 如果补课信息不为空，将补课信息添加到now_course_dict列表
            if len(makeup_lessons_info) != 0:
                # 待补充
                pass

        # 全天无课
        else:
            # 如果补课信息为空
            if len(makeup_lessons_info) == 0:
                is_now_course = False
                print(f'[INFO] {judg_time_ymd} No classes all day today!')
            
            # 补课处理
            # 如果补课信息不为空，将补课信息添加到now_course_dict列表
            else:
                # 待补充
                pass
            
        # 获取当前时刻需要考勤的时刻列表
        for start, end in zip(now_course_df['Time Start'], now_course_df['Time End']):
            att_start_list.append(start)
            att_end_list.append(end)

    else:
        print('[INFO] Happy Holidays!')
        
    return is_now_course, now_course_df, swap_lessons_info, makeup_lessons_info, att_start_list, att_end_list

In [320]:
get_course_attendance_info(au_info, room_table)

[INFO] 2021-05-24 00:00:00 is not Holiday!
[INFO] 2021-05-24 There is a make-up class today!
[INFO] 2021-05-24 There are classes today!
[INFO] 2021-05-24 今天需要换课的课程包括：{'DL2020001': [Timestamp('2021-03-22 00:00:00'), Timestamp('2021-05-24 00:00:00'), 13.0, 'Mon', '3--4']}

(True,
   Building  Classroom Schedule Time Start  Time End Course Class ID  \
 0        A        101     1-2节   08:00:00  10:05:00       ML2020001
 1        A        101     3-4节   10:05:00  12:00:00       DL2020001
 2        A        101     5-6节   14:00:00  15:35:00       CV2020001
 3        A        101     7-8节   15:55:00  17:35:00       CI2020001
 4        A        101    9-10节   18:00:00  19:35:00       DM2020001

              Course Name      Class week  Current Week Weekday
 0       Machine Learning  01--08, 10--17            13     Mon
 1          Deep Learning          01--16            13     Mon
 2        Computer Vision  01--10, 12--15            13     Mon
 3  Computer Intelligence          01--16            13     Mon
 4            Data Mining          01--18            13     Mon  ,
 {'DL2020001': [Timestamp('2021-03-22 00:00:00'),
   Timestamp('2021-05-24 00:00:00'),
   13.0,
   'Mon',
   '3--4']},
 {1: {'Make up lessons ID': 'DL2020001',
   'Original lessons Date': Timestamp('2021-03-22 00:00:00'),
   'Make up lessons Date': Timestamp('2021-05-24 00:00:00'),
   'Make up lessons Week': 13.0,
   'Make up lessons Weekday': 'Mon',
   'Make up lessons Schedule': '3--4',
   'Make up lessons Description': nan}},
 [datetime.time(8, 0),
  datetime.time(10, 5),
  datetime.time(14, 0),
  datetime.time(15, 55),
  datetime.time(18, 0)],
 [datetime.time(10, 5),
  datetime.time(12, 0),
  datetime.time(15, 35),
  datetime.time(17, 35),
  datetime.time(19, 35)])

In [298]:
is_now_course, \
now_course_df, \
swap_lessons_info, \
makeup_lessons_info, \
att_start_list, att_end_list = get_course_attendance_time(au_info, room_table)

[INFO] 2021-05-24 00:00:00 is not Holiday!
[INFO] 2021-05-24 00:00:00 There is a make-up class today!
[INFO] 2021-05-24 00:00:00 There are classes today!
[INFO] 2021-05-24 00:00:00 今天需要换课的课程包括：{'DL2020001': [Timestamp('2021-03-22 00:00:00'), Timestamp('2021-05-24 00:00:00'), 13.0, 'Mon', '3--4']}

In [299]:
is_now_course

True

In [300]:
now_course_df

,Building,Classroom,Schedule,Time Start,Time End,Course Class ID,Course Name,Class week,Current Week,Weekday
0,A,101,1-2节,08:00:00,10:05:00,ML2020001,Machine Learning,"01--08, 10--17",13,Mon
1,A,101,3-4节,10:05:00,12:00:00,DL2020001,Deep Learning,01--16,13,Mon
2,A,101,5-6节,14:00:00,15:35:00,CV2020001,Computer Vision,"01--10, 12--15",13,Mon
3,A,101,7-8节,15:55:00,17:35:00,CI2020001,Computer Intelligence,01--16,13,Mon
4,A,101,9-10节,18:00:00,19:35:00,DM2020001,Data Mining,01--18,13,Mon

In [301]:
swap_lessons_info

{'DL2020001': [Timestamp('2021-03-22 00:00:00'),
  Timestamp('2021-05-24 00:00:00'),
  13.0,
  'Mon',
  '3--4']}

In [302]:
makeup_lessons_info

{1: {'Make up lessons ID': 'DL2020001',
  'Original lessons Date': Timestamp('2021-03-22 00:00:00'),
  'Make up lessons Date': Timestamp('2021-05-24 00:00:00'),
  'Make up lessons Week': 13.0,
  'Make up lessons Weekday': 'Mon',
  'Make up lessons Schedule': '3--4',
  'Make up lessons Description': nan}}

In [303]:
att_start_list

[datetime.time(8, 0),
 datetime.time(10, 5),
 datetime.time(14, 0),
 datetime.time(15, 55),
 datetime.time(18, 0)]

In [304]:
att_end_list

[datetime.time(10, 5),
 datetime.time(12, 0),
 datetime.time(15, 35),
 datetime.time(17, 35),
 datetime.time(19, 35)]

In [398]:
# 根据获取的课程信息，当前时刻，以及au_info中的Attendance period End字段
# 自动设置考勤时间，避免了手动设置的繁琐
att_end = au_info['Attendance period End']
att_end

0    08:30:00
1    10:25:00
2    14:00:00
3    15:55:00
4    18:00:00
5    19:55:00
Name: Attendance period End, dtype: object

In [399]:
att_end[0]

datetime.time(8, 30)

In [400]:
att_end[0].hour

8

In [401]:
att_end[0].minute

30

In [402]:
# 获取完整的时间格式
now = datetime.now()
now

datetime.datetime(2021, 5, 24, 19, 29, 4, 970383)

In [403]:
now.date()

datetime.date(2021, 5, 24)

In [404]:
now.time()

datetime.time(19, 29, 4, 970383)

In [405]:
# 获取完整的时间格式
now = datetime.now()
# 分别获取当前的年，月，日，时，分，秒，均为int类型
judg_time = now
now_y = judg_time.year
now_m = judg_time.month
now_d = judg_time.day

# 用于存放包含年月日的datetime对象
attd_start_time_list = []
attd_end_time_list   = []

for attd_start_time, attd_end_time in zip(au_info['Attendance period Start'], au_info['Attendance period End']):
    attd_sh = attd_start_time.hour
    attd_sm = attd_start_time.minute
    attd_ss = attd_start_time.second
    
    attd_eh = attd_end_time.hour
    attd_em = attd_end_time.minute
    attd_es = attd_end_time.second
    # 转换为datetime.datetime类型的对象才能直接进行相加减运算
    # 因此，将au_info表格中的只有时分的数据添加年月日，并生成新的列表
    attd_start_time_list.append(datetime(now_y, now_m, now_d, attd_sh, attd_sm, attd_ss))
    attd_end_time_list.append(  datetime(now_y, now_m, now_d, attd_eh, attd_em, attd_es))

In [406]:
attd_start_time_list

[datetime.datetime(2021, 5, 24, 7, 0),
 datetime.datetime(2021, 5, 24, 10, 5),
 datetime.datetime(2021, 5, 24, 13, 0),
 datetime.datetime(2021, 5, 24, 15, 35),
 datetime.datetime(2021, 5, 24, 17, 30),
 datetime.datetime(2021, 5, 24, 19, 35)]

In [407]:
attd_end_time_list

[datetime.datetime(2021, 5, 24, 8, 30),
 datetime.datetime(2021, 5, 24, 10, 25),
 datetime.datetime(2021, 5, 24, 14, 0),
 datetime.datetime(2021, 5, 24, 15, 55),
 datetime.datetime(2021, 5, 24, 18, 0),
 datetime.datetime(2021, 5, 24, 19, 55)]

In [389]:
60 * 60 * 24

86400

## Idea1：根据课程包含的学生表自动获取课程的考勤时间

1. 获取当前时间，并与列表中的时间对比
2. 查看距离当前时刻最近的一节课是否有课 （不为NaN）
3. 如果有课，则自动设置考勤时间

- 1）正常：规定时间内签到
    - 每天的上午第一节课（两小节1--2），从教学楼开门时间（假设为7:00）到上课时间之间签到均为正常
    - 每天的上午第一节课下课到第二节上课之间签到为正常
    - 每天的下午第一节课前一个小时到第一节课上课之间签到为正常
    - 其余时间均为上一节课下课与下一节课上课之间签到为正常
    
- 2）迟到：上课之后45分钟内
- 3）旷课：上课超过45分钟
- 4）请假：通过销假系统自动读取，或者老师手动填写

## Idea2：手动设定考勤时间（简单）
- 1）正常：考勤时间设定之前的一小时内签到
- 2）迟到：上课之后45分钟内
- 3）其他：上课超过45分钟
- 4）旷课：上课时间未到
- 5）请假：通过销假系统自动读取，或者老师手动填写

In [461]:
def attendance_check(set_time = '19:00:00'):
    """
    考勤状态判断，根据指定的时间判断考勤状态
    ----
    param set_time: = '19:00:00'
    """
    ########################自定义参数######################
    # 正常：考勤时间设定之前的一小时内（3600s）签到
    normal_span = 60 * 60  # seconds
    # 设定一节课时长
    course_time = 95  # minutes
    # 设定上课多长时间认为是迟到
    late_span = 45
    ########################################################
    
    # 获取完整的时间格式
    now = datetime.now()
    # 分别获取当前的年，月，日，时，分，秒，均为int类型
    judg_time = now
    now_y = judg_time.year
    now_m = judg_time.month
    now_d = judg_time.day

    # 定义考勤标识符
    att_state = '正常'
    
    # 格式化考勤时间
    att_time = datetime.strptime(f'{now_y}-{now_m}-{now_d} {set_time}', '%Y-%m-%d %H:%M:%S')
    # 计算当前时间与设定时间的差值
    time_diff = now - att_time
    # print(time_diff)
    time_diff_days, time_diff_seconds = time_diff.days, time_diff.seconds
    # print(time_diff_days, time_diff_seconds)

    # 如果time_diff_days为负，说明还未到考勤时间，此时计算距离考勤的时间
    if time_diff_days < 0:
        # 一天的秒数减去time_diff_days
        time_span_att = 60 * 60 * 24 - time_diff_seconds
        

        if time_span_att < normal_span:
            att_state = '正常'
        else:
            print(f'[INFO] 无效！请在考勤时间设定之前的一小时内签到！距离考勤时间设定还有{round((time_span_att - 60*60)/60, 2)}分钟！')

    # 如果time_diff_days为正，说明考勤时间已过，此时判断是否为迟到或旷课
    else:
        
        # 上课45分钟内，算迟到
        if time_diff_seconds - late_span * 60 <= 0:
            att_state = '迟到'
        elif (time_diff_seconds > late_span * 60) and (time_diff_seconds <= course_time * 60):
            att_state = '其他'
            print('[INFO] 已经超过迟到时间范围，请联系老师处理!')
        else:
            att_state = '旷课'

    print(f'[INFO] 时间设定：{att_time}，考勤时间：{now}，考勤状态：{att_state}')
    
    return now, att_state

In [466]:
import os
from sys import path

# 将当前文件路径添加到环境路径
path.append(os.getcwd())
path

['D:\\Github\\Face-Recognition-Class-Attendance-System\\03 Dev',
 'D:\\anaconda\\envs\\tensorflow\\python38.zip',
 'D:\\anaconda\\envs\\tensorflow\\DLLs',
 'D:\\anaconda\\envs\\tensorflow\\lib',
 'D:\\anaconda\\envs\\tensorflow',
 '',
 'C:\\Users\\34123\\AppData\\Roaming\\Python\\Python38\\site-packages',
 'D:\\anaconda\\envs\\tensorflow\\lib\\site-packages',
 'D:\\anaconda\\envs\\tensorflow\\lib\\site-packages\\win32',
 'D:\\anaconda\\envs\\tensorflow\\lib\\site-packages\\win32\\lib',
 'D:\\anaconda\\envs\\tensorflow\\lib\\site-packages\\Pythonwin',
 'D:\\anaconda\\envs\\tensorflow\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\34123\\.ipython',
 'D:\\Github\\Face-Recognition-Class-Attendance-System\\03 Dev',
 'D:\\Github\\Face-Recognition-Class-Attendance-System\\03 Dev']

In [462]:
attendance_check()

[INFO] 时间设定：2021-05-24 19:00:00，考勤时间：2021-05-24 21:33:04.755798，考勤状态：旷课

(datetime.datetime(2021, 5, 24, 21, 33, 4, 755798), '旷课')

In [424]:
now = datetime.now()

for attd_start_time, attd_end_time in zip(attd_start_time_list, 
                                          attd_end_time_list):
    stime_diff = now - attd_start_time
    etime_diff = attd_end_time - now
    s_days, s_seconds = stime_diff.days, stime_diff.seconds
    e_days, e_seconds = etime_diff.days, etime_diff.seconds
    
    print(stime_diff, etime_diff)
    print(s_days, s_seconds)
    print(e_days, e_seconds)

13:42:30.287558 -1 day, 11:47:29.712442
0 49350
-1 42449
10:37:30.287558 -1 day, 13:42:29.712442
0 38250
-1 49349
7:42:30.287558 -1 day, 17:17:29.712442
0 27750
-1 62249
5:07:30.287558 -1 day, 19:12:29.712442
0 18450
-1 69149
3:12:30.287558 -1 day, 21:17:29.712442
0 11550
-1 76649
1:07:30.287558 -1 day, 23:12:29.712442
0 4050
-1 83549

In [380]:
(datetime.now() - attd_end_time_list[0]).days

0

In [409]:
time_diff = datetime.now() - attd_end_time_list[-1]
days, seconds = time_diff.days, time_diff.seconds

days, seconds

(-1, 85279)

In [391]:
seconds / 60

20.933333333333334

In [390]:
datetime.now() - attd_end_time_list[-2]

datetime.timedelta(seconds=1262, microseconds=623616)

In [364]:
now = datetime.now()
(now - attd_end_time_list[-1]).seconds

79176

In [230]:
room_dict

{'Building': 'A',
 'Classroom': 101,
 'Schedule': '1-2节',
 'Time Start': datetime.time(8, 0),
 'Time End': datetime.time(10, 5),
 'Course Class ID': 'ML2020001',
 'Course Name': 'Machine Learning',
 'Class week': '01--08, 10--17',
 'Current Week': 1,
 'Weekday': 'Mon'}

In [192]:
room_dict['Course Class ID'] == 'ML2020001' and False

False

In [180]:
np.array([True,  True,  True]).any()

True

In [178]:
np.array([True,  True,  False]).any()

True

In [179]:
np.array([False,  False,  False]).any()

False

In [50]:
now = datetime.now()
now

datetime.datetime(2021, 5, 24, 1, 54, 18, 780962)

In [30]:
now.year, type(now.year)

(2021, int)

In [51]:
now.month, type(now.month)

(5, int)

In [52]:
now.day, type(now.day)

(24, int)

In [33]:
now.hour

1

In [34]:
now.minute

8

In [35]:
now.second

13

In [36]:
# 一天中，考勤开始时间列表
au_info['Attendance period Start']

0    07:00:00
1    10:05:00
2    13:00:00
3    15:35:00
4    17:30:00
5    19:35:00
Name: Attendance period Start, dtype: object

In [37]:
# 一天中，考勤开始时间列表
list(au_info['Attendance period End'])

[datetime.time(8, 0),
 datetime.time(10, 25),
 datetime.time(14, 0),
 datetime.time(15, 55),
 datetime.time(18, 0),
 datetime.time(19, 55)]

In [38]:
# 将指定时间转换为 datetime.datetime格式
datetime(2021, 5, 24)

datetime.datetime(2021, 5, 24, 0, 0)

In [39]:
att_start_list = []
att_end_list = []

for start, end in zip(au_info['Attendance period Start'], au_info['Attendance period End']):
    att_start_list.append(start)
    att_end_list.append(end)

In [40]:
att_start_list

[datetime.time(7, 0),
 datetime.time(10, 5),
 datetime.time(13, 0),
 datetime.time(15, 35),
 datetime.time(17, 30),
 datetime.time(19, 35)]

In [41]:
att_end_list

[datetime.time(8, 0),
 datetime.time(10, 25),
 datetime.time(14, 0),
 datetime.time(15, 55),
 datetime.time(18, 0),
 datetime.time(19, 55)]

In [42]:
datetime.now().strftime('%H')

'01'